# Ensure theme decoupling for terminal utilities (dracula defaults)
ghostty/dot-config/ghostty/config filter=dot-theme
helix/dot-config/helix/config.toml filter=dot-theme
zellij/dot-config/zellij/config.kdl filter=dot-theme
btop/dot-config/btop/btop.conf filter=dot-theme
git/dot-config/git/config filter=dot-theme
