# === System & Editor ===
.sisyphus
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
*.swp
*.swo
*~
\#*#

# === Private & Local files ===
*.local.*
!*.example
secret.*
.env
.env.local
fish_variables*
/fish/dot-config/fish/completions/
/fish/dot-config/fish/conf.d/

# === Build & Cache ===
node_modules/
vendor/
__pycache__/
*.pyc
*.pyo
.gradle/

# === Temporary ===
tmp/
temp/
*.tmp
*.log
*.bak
*.backup
